<!DOCTYPE html>
<html lang="Zh-ch">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>首页 - 评师宝</title>
	<!--使用微信官方WeUI的CDN -->
	<link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/0.4.2/weui.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/professor.css"/>
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<script src="/static/js/vconsole.min.js"></script>
</head>

<body>
	<div role="navigation" class="top">
		<div class="top-inner">
			<a href="/" class="logo">毕业宝</a>
			<button id="search" class="btn">找老师</button>
			<div role="search" id="zh-top-search" class="zu-top-search">
				<form method="GET" action="/search" id="zh-top-search-form" class="zu-top-search-form">
					<input type="hidden" name="type" value="content">
					<label for="q" class="hide-text">知乎搜索</label>
					<input type="text" class="zu-top-search-input" id="q" name="q" autocomplete="off" value="" placeholder="搜索你感兴趣的内容..." role="combobox" aria-autocomplete="list">
					<button type="submit" class="zu-top-search-button"><span class="hide-text">搜索</span><span class="sprite-global-icon-magnifier-light"></span></button>
				</form>
			</div>



		</div>
	</div>

</body>

</html>
