{% extends 'base.html' %}
{% block title %}首页 - 评师宝{% endblock %}
{% block header%}
<link rel="stylesheet" type="text/css" href="/static/css/professor.css" />
{% endblock %}
{% block body %}
<div class="zu-main-content-inner">
    {% for comment in comments %}
    <div class="feed-item folding feed-item-hook feed-item-a">
        <div class="avatar">
            <img src="https://pic3.zhimg.com/45e5c4b16_m.jpg" class="zm-item-img-avatar">
        </div>
        <div class="feed-main">
            <div class="feed-source">
                <a href="https://www.zhihu.com/people/yao-dong-27" target="_blank" class="zg-link" title="姚冬">钟典典</a> 
                评论了该课程
                <span class="time">1 小时前</span>
            </div>
            <div class="feed-content">
                <h2><a class="question_link" target="_blank" href="/question/39000889">智能数据挖掘大数据推荐引擎构建</a></h2>
                <div class="expandable entry-body">
                    <div class="zm-item-answer-author-info">
                        <a class="author-link" target="_blank" href="/people/xi-yuan-shen-er-62">陈心远</a>
                        <span title="德鲁伊" class="bio">，红红火火恍恍惚惚</span>
                    </div>
                    <div class="zm-item-rich-text expandable js-collapse-body">
                        <div class="zh-summary summary clearfix">
                            谢谢大家支持，转载随意：）——————————————————————————————看完首映，离开电影院，在路边发了一会呆。这是一场告别，其实我们都知道。影片结束时，没有掌声，所有人都默默的在等字幕结束，希望有彩蛋，希望还有。直到电影放…
                            <a href="/question/39000889/answer/104856281" class="toggle-expand">显示全部</a>
                        </div>
                        <p class="visible-expanded"><a itemprop="url" class="answer-date-link meta-item" target="_blank" href="/question/39000889/answer/104856281">编辑于 2016-06-08</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}