{% extends 'base.html' %}
{% block title %}首页 - 评师宝{% endblock %}
{% block header%}
<link rel="stylesheet" type="text/css" href="/static/css/professor.css" />
{% endblock %}
{% block body %}
<div class="zu-main-content-inner">
    {% for comment in comments %}
    <div class="feed-item folding feed-item-hook feed-item-a">
        <div class="avatar">
            <img src="https://pic3.zhimg.com/45e5c4b16_m.jpg" class="zm-item-img-avatar">
        </div>
        <div class="feed-main">
            <div class="feed-source">
                <a href="https://www.zhihu.com/people/yao-dong-27" target="_blank" class="zg-link">{{ comment.user.name }}</a> 
                评论了该课程
                <span class="time">{{ comment.createdTime | format_time }}</span>
            </div>
            <div class="feed-content">
                <h2><a class="question_link" target="_blank" href="/question/39000889">{{ comment.course.name }}</a></h2>
                <div class="expandable entry-body">
                    <div class="zm-item-answer-author-info">
                        <a class="author-link" target="_blank" href="/people/xi-yuan-shen-er-62">
                            {{ comment.teacher.name }}
                        </a>
                        <span class="bio">，{{ comment.course.department }}</span>
                    </div>
                    <div class="zm-item-rich-text expandable js-collapse-body">
                        <div class="zh-summary summary clearfix">
                            {{ comment.content | content_chopper(0, 20) }}
                            <!-- <a href="/question/39000889/answer/104856281" class="toggle-expand">显示全部</a> -->
                        </div>
                        <p class="visible-expanded"><a itemprop="url" class="answer-date-link meta-item" target="_blank" href="/question/39000889/answer/104856281">编辑于 2016-06-08</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}