<!DOCTYPE html>
<html lang="Zh-ch">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>首页 - 评师宝</title>
	<!--使用微信官方WeUI的CDN -->
	<link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/0.4.2/weui.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/professor.css" />
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<script src="/static/js/vconsole.min.js"></script>
</head>

<body>
	<div role="navigation" class="top">
		<div class="top-inner">
			<a href="/" class="logo">毕业宝</a>
			<a href="/index.html" class="back">返回</a>
			<button id="search" class="btn">找老师</button>
			<div role="search" id="search-input-div" class="input-div">
				<form method="GET" action="/search" id="search-input-form" class="input-form">
					<input type="text" class="input-inline" placeholder="搜索老师..." aria-autocomplete="list">
				</form>
			</div>
		</div>
	</div>
	<!--End of Navigation-->

	<div id="Universal">
		<div class="Panel" id="404Panel">
			<div id="error" style="display:none">
			<div class="heightholder" style="height:130px;"></div>
			<div class="centralText">
				<p>你来到了没有老师的知识荒野</p>
			</div>
			<div class="widePic">
				<img src="/static/images/professor/404.png"></div>
			</div>
		</div>
	</div>

	<div class="bottom">
		<div class="weui_tab">
			<div class="weui_tab_bd">

			</div>
			<div class="weui_tabbar">
				<a href="javascript:;" class="weui_tabbar_item weui_bar_item_on">
					<div class="weui_tabbar_icon">
						<img src="/static/images/weui/icon_nav_button.png" alt="">
					</div>
					<p class="weui_tabbar_label">时间轴</p>
				</a>
				<a href="javascript:;" class="weui_tabbar_item">
					<div class="weui_tabbar_icon">
						<img src="/static/images/weui/icon_nav_article.png" alt="">
					</div>
					<p class="weui_tabbar_label">发现</p>
				</a>
				<a href="javascript:;" class="weui_tabbar_item">
					<div class="weui_tabbar_icon">
						<img src="/static/images/weui/icon_nav_cell.png" alt="">
					</div>
					<p class="weui_tabbar_label">我</p>
				</a>
			</div>
		</div>
	</div>

</body>

</html>
